<section class="flex flex-col items-center gap-4 px-6 pt-10 lg:pt-32">
  <h2
    class="max-w-4xl text-center font-title text-xl tracking-tighter lg:text-4xl"
  >
    Imagenes y resultados
  </h2>

  <main class="mt-8 flex w-full max-w-5xl">
    <ul
      class="grid max-h-[500px] md:max-h-[700px] grid-rows-3 gap-4 lg:max-h-[1000px] grid-cols-6"
    >
      <li class="col-span-3 md:col-span-2 row-span-2 size-full">
        <img
          src="/images/eliminacion-de-tatuajes-4.jpg"
          alt="Eliminación de tatuajes en Tattoo Killer"
          class="size-full rounded-xl object-cover shadow-lg"
        />
      </li>
      <li class="col-span-3 md:col-span-4 row-span-1 size-full">
        <img
          src="/images/eliminacion-de-tatuajes-1.jpg"
          alt="Eliminación de tatuajes en Tattoo Killer"
          class="size-full rounded-xl object-cover shadow-lg"
        />
      </li>
      <li class="col-span-3 md:col-span-2 row-span-1 size-full">
        <img
          src="/images/eliminacion-de-tatuajes-6.jpg"
          alt="Eliminación de tatuajes en Tattoo Killer"
          class="size-full rounded-xl object-cover shadow-lg"
        />
      </li>
      <li class="col-span-3 md:col-span-2 row-span-1 md:row-span-2 size-full">
        <img
          src="/images/eliminacion-de-tatuajes-2.jpg"
          alt="Eliminación de tatuajes en Tattoo Killer"
          class="size-full rounded-xl object-cover shadow-lg"
        />
      </li>
      <li class="col-span-3 md:col-span-4 row-span-1 size-full">
        <img
          src="/images/eliminacion-de-tatuajes-5.jpg"
          alt="Eliminación de tatuajes en Tattoo Killer"
          class="size-full rounded-xl object-cover shadow-lg"
        />
      </li>
    </ul>
  </main>
</section>
