<section class="flex flex-col items-center gap-4 pt-10 lg:pt-32 px-6">
  <h2 class="max-w-4xl font-title text-xl text-center tracking-tighter lg:text-4xl">
    Imagenes y resultados
  </h2>

  <main class="mt-8 flex w-full max-w-5xl">
    <ul class="grid grid-cols-1 lg:grid-cols-3 gap-4">
      <li>
        <img
          src="/images/eliminacion-de-tatuajes-1.jpg"
          alt="Eliminación de tatuajes en Tattoo Killer"
          class="aspect-square w-full max-w-sm rounded-xl object-cover shadow-lg"
          />
        </li>
        <li>
          <img
          src="/images/eliminacion-de-tatuajes-2.jpg"
          alt="Eliminación de tatuajes en Tattoo Killer"
          class="aspect-square w-full max-w-sm rounded-xl object-cover shadow-lg"
        />
      </li>
      <li>
        <img
          src="/images/eliminacion-de-tatuajes-1.jpg"
          alt="Eliminación de tatuajes en Tattoo Killer"
          class="aspect-square w-full max-w-sm rounded-xl object-cover shadow-lg"
        />
      </li>
      <li>
        <img
          src="/images/eliminacion-de-tatuajes-2.jpg"
          alt="Eliminación de tatuajes en Tattoo Killer"
          class="aspect-square w-full max-w-sm rounded-xl object-cover shadow-lg"
        />
      </li>
      <li>
        <img
          src="/images/eliminacion-de-tatuajes-2.jpg"
          alt="Eliminación de tatuajes en Tattoo Killer"
          class="aspect-square w-full max-w-sm rounded-xl object-cover shadow-lg"
        />
      </li>
      <li>
        <img
          src="/images/eliminacion-de-tatuajes-2.jpg"
          alt="Eliminación de tatuajes en Tattoo Killer"
          class="aspect-square w-full max-w-sm rounded-xl object-cover shadow-lg"
        />
      </li>
    </ul>
  </main>
</section>
