---
import Pretitle from "@/components/Pretitle.astro";
---

<section
  id="descubre-como"
  class="flex flex-col items-center justify-center px-6 py-20 text-center"
>
  <Pretitle>COMO FUNCIONA</Pretitle>

  <article class="mt-10 flex max-w-4xl flex-col gap-8">
    <p class="font-title text-xl tracking-tighter lg:text-3xl">
      El láser emite una energia térmica que penetra hasta las capas donde se
      encuentra depositada la tinta.
    </p>

    <p class="font-title text-xl tracking-tighter lg:text-3xl">
      Esta tinta encapsulada por nuestro organismo es descompuesta en moléculas
      muy pequeñas para que nuestro cuerpo pueda eliminarlas de forma natural a
      traves de nuestras defensas gracias al sistema linfatico.
    </p>

    <p class="font-title text-xl tracking-tighter lg:text-3xl">
      Es un proceso seguro, eficaz y diseñado para borrar la tinta sin dañar tu
      piel.
    </p>
  </article>
</section>
