---
import Chat from "@/assets/icons/Chat.astro";
import Link from "@/components/Link.astro";
---

<section
  id="descubre-como"
  class="flex flex-col items-center justify-center px-4 py-10 text-center"
>
  <p class="mt-10 max-w-4xl text-lg text-neutral-600 lg:text-xl">
    Mientras tanto si te surgen más preguntas sobre nuestros servicios láser, no
    dudes visitar nuestra sección de preguntas frecuentes.
  </p>

  <div class="mt-6 flex flex-wrap justify-center gap-2">
    <Link href="/preguntas-frequentes">PREGUNTAS FREQUENTES</Link>
    <Link href="#contacto" class="gap-2 bg-transparent text-neutral-900">
      <Chat class="-mt-1 size-7" />
      CONSULTA GRATUITA
    </Link>
  </div>
</section>
