---
import Pretitle from "@/components/Pretitle.astro";
---

<section
  id="descubre-como"
  class="flex flex-col items-center justify-center px-6 py-20"
>
  <article
    class="flex w-full max-w-5xl flex-col items-center gap-10 lg:flex-row lg:gap-20"
  >
    <div class="flex w-full flex-col gap-8 lg:w-1/2">
      <Pretitle>COMO FUNCIONA</Pretitle>
      <h2 class="max-w-2xl font-title text-2xl font-bold lg:text-4xl">
        Peeling con carbon activo y laser
      </h2>

      <p class="lg:text-xl">
        Usamos una mascarilla de carbono activo para la zona afectada, que la
        dejamos reposar para que imante todas las grasas e impurezas que pueda
        haber en la superficie de la piel.
      </p>

      <p class="lg:text-xl">
        Con el laser emitimos una energia térmica que impacta en la mascarilla
        haciendola desaparecer junto con todas las impurezas. Con este
        tratamiento laser conseguimos llegar a la epidermis, activando el
        colageno y la elastina naturales de la piel.
      </p>
    </div>

    <aside class="w-full lg:w-1/2">
      <img
        src="/images/peeling-carbon-activo.jpg"
        alt="Peeling con carbon activo"
        class="aspect-square w-full rounded-xl object-cover shadow-lg"
      />
    </aside>
  </article>

  <article
    class="mt-32 flex w-full max-w-5xl flex-col items-center gap-10 lg:flex-row-reverse lg:gap-20"
  >
    <div class="flex w-full flex-col gap-8 lg:w-1/2">
      <Pretitle>COMO FUNCIONA</Pretitle>
      <h2 class="max-w-2xl font-title text-2xl font-bold lg:text-4xl">
        Eliminación de hongos en las uñas
      </h2>

      <p class="lg:text-xl">
        El láser emite una energia térmica que atraviesa las capas de la uña
        llegando a su matriz.
      </p>

      <p class="lg:text-xl">
        Elimina el hongo desde la raíz sanando por completo la zona afectada y
        dejando la uña limpia y bonita.
      </p>
    </div>

    <aside class="w-full lg:w-1/2">
      <img
        src="/images/eliminacion-hongos-unas.jpg"
        alt="Eliminación de hongos en las uñas"
        class="aspect-square w-full rounded-xl object-cover shadow-lg"
      />
    </aside>
  </article>

  <article
    class="mt-32 flex w-full max-w-5xl flex-col items-center gap-10 lg:flex-row lg:gap-20"
  >
    <div class="flex w-full flex-col gap-8 lg:w-1/2">
      <Pretitle>COMO FUNCIONA</Pretitle>
      <h2 class="max-w-2xl font-title text-2xl font-bold lg:text-4xl">
        Blanqueamiento corporal, anal y perianal
      </h2>

      <p class="lg:text-xl">
        El láser emite una energia térmica que penetra hasta la epidermis donde
        se encuentra la hiperpigmentación de la piel.
      </p>

      <p class="lg:text-xl">
        El láser aclara la hiperpigmentación de la piel, eliminando la melanina
        sobrante a traves de una regeneracion del tejido, permitiendo que con el
        paso de las sesiones la piel vuelva a tener la luz y el color que le
        corresponde.
      </p>
    </div>

    <aside class="w-full lg:w-1/2">
      <img
        src="/images/blanqueamiento-corporal.jpg"
        alt="Blanqueamiento corporal, anal y perianal"
        class="aspect-square w-full rounded-xl object-cover shadow-lg"
      />
    </aside>
  </article>

  <p
    class="mt-32 w-full max-w-5xl border-t border-neutral-400 p-8 text-center font-title text-xl tracking-tighter"
  >
    Todos nuestros tratamientos esteticos laser son procesos <br /> seguros, eficaces
    y personalizados.
  </p>
</section>
