<section
  id="inicio"
  class:list={[
    "relative flex w-full flex-col items-center bg-[url(/images/peeling-carbon-activo-hero.jpg)] bg-cover bg-center pb-44 pt-20 lg:pb-80 lg:pt-60",
    "before:absolute before:inset-0 before:bg-black/80",
  ]}
>
  <article
    class="z-10 flex w-full max-w-4xl flex-col items-center px-8 text-center text-neutral-50 2xl:max-w-5xl"
  >
    <h1 class="mt-8 font-title text-2xl font-bold md:text-5xl">
      Servicios estéticos con láser y carbono activo
    </h1>

    <p class="mt-4 max-w-4xl text-base text-neutral-100 lg:text-xl">
      En <strong>TattooKiller</strong> trabajamos con tecnología de vanguardia para
      ofrecer el mejor resultado. Nuestros servicios son 100% personalizados ya que
      cada piel requiere un tratamiento único y diferente.
    </p>
  </article>
</section>

<style>
  section {
    mask: url("/ink2.svg") no-repeat bottom;
    mask-size: cover;
  }
</style>

