---
import Layout from "@/layouts/Layout.astro";
import Logo from "@/assets/Logo.astro";
import Container from "@/assets/Container.astro";
---

<Layout title="Welcome to Astro.">
  <span
    class="fixed top-0 w-full flex h-[40vh] bottom-[80%] bg-gradient-to-b from-white from-[40%] to-transparent pointer-events-none"
  ></span>

  <section
    id="inicio"
    class="relative h-screen flex flex-col items-center justify-center bg-black z-10"
  >
    <figure class="absolute inset-0 h-full">
      <video
        src="/bg.mp4"
        playsinline
        autoplay
        muted
        class="w-full h-full object-cover"
      >
      </video>
    </figure>

    <article
      class="flex flex-col items-center gap-8 z-10 text-transparent max-w-7xl"
    >
      <picture>
        <Logo />
      </picture>

      <h1
        class="reveal font-title text-6xl lg:text-8xl font-bold text-center text-stroke-2 text-stroke-black"
      >
        Eliminar tatuajes, micropicmentacion y manchas sin dolor
      </h1>

      <a href="#saber-mas" class="text-black font-title font-bold">SABER MÁS</a>
    </article>
  </section>

  <section
    id="saber-mas"
    class="h-screen flex flex-col items-center justify-center text-center"
  >
    <article class="max-w-4xl">
      <h2
        class="reveal text-5xl lg:text-7xl font-bold font-title text-transparent text-stroke-2 text-stroke-black"
      >
        Bienvenidos a tattoo killer, quitar tattoos poner cera
      </h2>

      <p class="text-center font-xl">
        Con nuestro equipo de especialistas ubicados en la provincia de
        Barcelona, nuestro equipo está comprometido con servicios de vanguardia
        en eliminación de tatuajes, micropigmentación y tratamiento de manchas
        en la piel.
      </p>
    </article>
  </section>

  <section
    id="welcome2"
    class="h-screen flex flex-col items-center justify-center text-center"
  >
    <article class="max-w-4xl">
      <h1
        class="reveal text-5xl lg:text-7xl font-bold font-title text-transparent text-stroke-2 text-stroke-black"
      >
        Bienvenidos a tattoo killer, quitar tattoos poner cera
      </h1>
      <p class="text-xl">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis
        magni animi itaque error, earum voluptatum odit praesentium quia nulla
        quibusdam. Nihil hic totam at adipisci quasi magni repudiandae,
        accusantium veniam!
      </p>
    </article>
  </section>
</Layout>
