---
import Layout from "@/layouts/Layout.astro";
import Logo from "@/assets/Logo.astro";
---

<Layout title="Welcome to Astro.">
  <section
    id="inicio"
    class="relative h-screen flex flex-col items-center justify-center"
  >
    <!-- <figure class="absolute inset-0 h-full mix-blend-multiply">
      <video
        src="/bg.mp4"
        playsinline
        autoplay
        muted
        class="w-full h-full object-cover"
      >
      </video>
    </figure> -->

    <article class="flex flex-col items-center gap-8 z-10 max-w-6xl px-8">
      <picture>
        <Logo />
      </picture>

      <h1
        class="erease font-title text-4xl lg:text-7xl font-bold text-center text-stroke-[1px] lg:text-stroke-2 text-stroke-slate-800"
      >
        Elimina tus tatuajes rapidamente y sin dolor
      </h1>

      <a href="#saber-mas" class="text-slate-100 font-title text-xs font-bold bg-slate-800 px-8 pt-5 pb-4 rounded-xl border-2 border-slate-800 hover:text-slate-800 hover:bg-transparent transition-colors"
        >DESCUBRE COMO</a
      >
    </article>
  </section>

  <section
    id="saber-mas"
    class="flex flex-col items-center justify-center text-center px-8 py-20 lg:py-48"
  >
    <article class="max-w-4xl">
      <h2
        class="erease text-4xl lg:text-7xl font-bold font-title text-stroke-[1px] lg:text-stroke-2 text-stroke-black"
      >
        Bienvenidos a tattoo killer, quitar tattoos poner cera
      </h2>

      <p class="text-center text-xl">
        Con nuestro equipo de especialistas ubicados en la provincia de
        Barcelona, nuestro equipo está comprometido con servicios de vanguardia
        en eliminación de tatuajes, micropigmentación y tratamiento de manchas
        en la piel.
      </p>
    </article>
  </section>

  <section
    id="next"
    class="flex flex-col items-center justify-center text-center px-8 py-20 lg:py-48"
  >
    <article class="max-w-4xl">
      <h2
        class="erease text-4xl lg:text-7xl font-bold font-title text-stroke-[1px] lg:text-stroke-2 text-stroke-black"
      >
        Bienvenidos a tattoo killer, quitar tattoos poner cera
      </h2>

      <p class="text-center text-xl">
        Con nuestro equipo de especialistas ubicados en la provincia de
        Barcelona, nuestro equipo está comprometido con servicios de vanguardia
        en eliminación de tatuajes, micropigmentación y tratamiento de manchas
        en la piel.
      </p>
    </article>
  </section>
</Layout>
