---
import Email from "@/assets/icons/Email.astro";
import Pretitle from "@/components/Pretitle.astro";
import Phone from "@/assets/icons/Phone.astro";
import Whatsapp from "@/assets/icons/Whatsapp.astro";
---

<section
  id="contact"
  class="flex flex-col items-center justify-center text-center px-4 py-20"
>
  <Pretitle>NOS ENCONTRARAS EN</Pretitle>

  <article class="max-w-6xl flex flex-col gap-20 items-center w-full mt-10">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11997.092192438582!2d1.7775927!3d41.2593904!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a38109c40aa65f%3A0xbc21888a72746917!2sULAVET%20Cl%C3%ADnica%20Veterinaria!5e0!3m2!1ses!2ses!4v1700994359675!5m2!1ses!2ses"
      width="600"
      height="450"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="w-full rounded-xl border-2 border-slate-50 shadow-md lg:shadow-xl"
    ></iframe>

    <div
      class="flex flex-col lg:flex-row items-center lg:items-start gap-8 p-6 lg:p-8 grow text-center lg:text-left"
    >
      <a
        href="mailto:cita@tattokiller.com"
        class="flex items-center gap-2 text-slate-100 font-title text-xs font-bold bg-slate-800 px-8 pt-5 pb-4 rounded-xl border-2 border-slate-800 hover:text-slate-800 hover:bg-transparent transition-colors"
      >
        <Email />
         cita@tattokiller.com
      </a>
      <a
        href="tel:0034931741035"
        class="flex items-center gap-2 text-slate-100 font-title text-xs font-bold bg-slate-800 px-8 pt-5 pb-4 rounded-xl border-2 border-slate-800 hover:text-slate-800 hover:bg-transparent transition-colors"
      >
        <Phone />
         93 174 10 35
      </a>
      <a
        href="tel:0034931741035"
        class="flex items-center gap-2 text-slate-100 font-title text-xs font-bold bg-slate-800 px-8 pt-5 pb-4 rounded-xl border-2 border-slate-800 hover:text-slate-800 hover:bg-transparent transition-colors"
      >
        <Whatsapp />
         611 092 251
      </a>
    </div>
  </article>
</section>
