---
import Logo from "@/assets/Logo.astro";
import Instagram from "@/assets/icons/Instagram.astro";
import Tiktok from "@/assets/icons/Tiktok.astro";
---

<footer class="flex justify-center bg-slate-800 text-slate-100 mt-auto">
  <div class="w-full max-w-7xl p-8">
    <div class="flex flex-wrap justify-between gap-12 w-full">
      <a href="/">
        <figure class="flex items-center gap-2">
          <Logo width={40} />

          <figcaption class="font-title self-center text-xl whitespace-nowrap">
            TattooKiller
          </figcaption>
        </figure>
      </a>

      <div class="flex flex-col lg:flex-row gap-12">
        <div class="flex flex-col">
          <h2 class="mb-4 text-sm font-semibold uppercase text-slate-50">
            Síguenos en
          </h2>

          <ul class="text-slate-300 font-medium">
            <li class="mb-2">
              <a
                href="https://www.instagram.com/aitor_tattookiller/"
                target="_blank"
                rel="external"
                referrerpolicy="no-referrer"
                class="hover:underline"
              >
                Instagram
              </a>
            </li>

            <li>
              <a
                href="https://www.tiktok.com/@aitor_tattookiller"
                target="_blank"
                rel="external"
                referrerpolicy="no-referrer"
                class="hover:underline"
              >
                TikTok
              </a>
            </li>
          </ul>
        </div>

        <div class="flex flex-col">
          <h2 class="mb-4 text-sm font-semibold uppercase text-slate-50">
            Legal
          </h2>

          <ul class="text-slate-300 font-medium">
            <li class="mb-2">
              <a href="/legal#politica-de-provacidad" class="hover:underline"
                >Política de privacidad</a
              >
            </li>

            <li>
              <a href="/legal#terminos-y-condiciones" class="hover:underline"
                >Términos y condiciones</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr class="my-10 sm:mx-auto border-slate-600 lg:my-8" />

    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm sm:text-center text-slate-300">
        All Rights Reserved TattooKiller © 2023-2024
      </span>

      <div class="flex mt-4 sm:justify-center sm:mt-0">
        <a
          href="https://www.instagram.com/aitor_tattookiller/"
          target="_blank"
          rel="external"
          referrerpolicy="no-referrer"
          class="text-slate-300 hover:text-slate-50"
        >
          <Instagram />
          <span class="sr-only">Página de Instagram</span>
        </a>

        <a
          href="https://www.tiktok.com/@aitor_tattookiller"
          target="_blank"
          rel="external"
          referrerpolicy="no-referrer"
          class="text-slate-300 hover:text-slate-50 ms-5"
        >
          <Tiktok />
          <span class="sr-only">Página de TikTok</span>
        </a>
      </div>
    </div>
  </div>
</footer>
