---
import Logo from "@/assets/Logo.astro";
import Instagram from "@/assets/icons/Instagram.astro";
import Tiktok from "@/assets/icons/Tiktok.astro";

const year = new Date().getFullYear();
---

<footer id="contacto" class="flex justify-center bg-slate-800 text-slate-100 mt-auto">
  <div class="w-full max-w-7xl flex flex-col gap-2 p-8">
    <div class="flex flex-wrap justify-between gap-12 w-full">
      <a href="/">
        <figure class="flex items-center gap-2">
          <Logo width={40} />

          <figcaption class="font-title self-center text-xl whitespace-nowrap">
            TattooKiller
          </figcaption>
        </figure>
      </a>
    </div>

    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm sm:text-center text-slate-300">
        All Rights Reserved TattooKiller © {year}-{year + 1}
      </span>

      <div class="flex mt-4 sm:justify-center sm:mt-0">
        <a
          href="https://www.instagram.com/aitor_tattookiller/"
          target="_blank"
          rel="external"
          referrerpolicy="no-referrer"
          class="text-slate-300 hover:text-slate-50 flex items-center gap-2"
        >
          <Instagram />
          <span>Instagram</span>
        </a>

        <a
          href="https://www.tiktok.com/@aitor_tattookiller"
          target="_blank"
          rel="external"
          referrerpolicy="no-referrer"
          class="text-slate-300 hover:text-slate-50 ms-5 flex items-center gap-2"
        >
          <Tiktok />
          <span>TikTok</span>
        </a>
      </div>
    </div>
  </div>
</footer>
