---
interface Props {
  sessions: number;
  color: "pink" | "blue" | "yellow";
}

const { sessions, color: colorInd } = Astro.props;

const colors = {
  pink: "bg-pink-700 text-white",
  blue: "bg-blue-700 text-white",
  yellow: "bg-yellow-500",
};
const color = colors[colorInd];
---

<figure
  class="cursor-pointer shadow-xl transition-transform lg:active:scale-150 lg:[&>figcaption]:active:opacity-0"
>
  <slot />

  <figcaption
    class=`lg:absolute lg:top-5 lg:left-[90%] ${color} py-3 pl-4 pr-8 lg:rounded-xl lg:rounded-tl-none shadow-lg shadow-black/30 transition-all lg:opacity-0 pointer-events-none select-none mt-1 lg:mt-0`
  >
    <p class="whitespace-nowrap text-xl leading-4 lg:text-lg lg:leading-5">
      <small>Eliminado en</small>
      <br />
      <strong>{sessions} sesiones</strong>
    </p>
  </figcaption>
</figure>
