---
interface Props {
  sessions: number;
  color: "pink" | "blue" | "yellow";
}

const { sessions, color: colorInd } = Astro.props;

const colors = {
  pink: "bg-pink-500 text-white",
  blue: "bg-blue-500 text-white",
  yellow: "bg-yellow-500",
};
const color = colors[colorInd];
---

<figure
  class="shadow-xl [&>figcaption]:active:opacity-0 cursor-pointer active:scale-150 transition-transform"
>
  <slot />

  <figcaption
    class=`absolute top-5 left-[90%] ${color} py-3 pl-4 pr-8 rounded-xl rounded-tl-none shadow-lg shadow-black/30 transition-all opacity-0 pointer-events-none select-none`
  >
    <p class="text-2xl leading-6 whitespace-nowrap">
      <small>Eliminado en</small>
      <br />
      <strong>{sessions} sesiones</strong>
    </p>
  </figcaption>
</figure>
