---
import Star from "@/assets/icons/Star.astro";

interface Props {
  avatar: string;
  name: string;
  review: string;
}

const { avatar, name, review } = Astro.props;
---

<li
  class="mb-10 flex aspect-square w-64 shrink-0 flex-col gap-2 overflow-hidden rounded-xl border-2 border-neutral-200 bg-neutral-50/10 bg-white p-6 shadow-md backdrop-blur md:mb-0 lg:w-80 lg:p-8 lg:shadow-xl"
>
  <picture>
    <img
      src={avatar}
      alt={name}
      width="48"
      height="48"
      loading="lazy"
      decoding="async"
      class="w-12"
    />
  </picture>

  <header class="flex flex-col">
    <h3 class="text-xl font-semibold text-neutral-800">
      {name}
    </h3>

    <div class="flex items-center gap-1 text-yellow-500">
      <Star />
      <Star />
      <Star />
      <Star />
      <Star />
    </div>
  </header>

  <p class="line-clamp-4 text-neutral-600 lg:line-clamp-6">
    {review}
  </p>
</li>
