---
import Logo from "@/assets/Logo.astro";
import Tooltips from "./Tooltips.astro";
import HomeMarquee from "./HomeMarquee.astro";

const colors = ["text-pink-700", "text-blue-700", "text-yellow-500"];
const color = colors[Math.floor(Math.random() * colors.length)];
---

<section
  id="inicio"
  class="relative min-h-screen flex flex-col items-center pt-40 lg:pt-52"
>
  <article
    class="relative flex flex-col items-center z-10 max-w-4xl 2xl:max-w-6xl px-8 text-center"
  >
    <figure class={color}>
      <Logo />
      <span class="flex items-center gap-2 text-xl font-title font-extrabold">
        TattooKiller
      </span>
    </figure>

    <h1
      class="erease font-title text-4xl md:text-5xl 2xl:text-7xl font-bold text-stroke-[1px] lg:text-stroke-2 text-stroke-slate-800 mt-8"
    >
      Despídete de tus tatuajes con los mejores resultados
    </h1>

    <p class="text-lg font-title max-w-4xl mt-4 text-slate-600">
      Ubicados en Barcelona, Gerona, Lérida y Tarragona, en el equipo <strong
        >TattooKiller</strong
      >, utilizamos la tecnología más avanzada para garantizar los mejores
      resultados en el mínimo de sesiones.
    </p>

    <div class="flex flex-wrap justify-center gap-2 mt-12">
      <a
        href="#descubre-como"
        class="text-slate-100 font-title text-xs font-bold bg-slate-800 px-8 pt-5 pb-4 rounded-xl border-2 border-slate-800 hover:text-slate-800 hover:bg-transparent transition-colors"
      >
        DESCUBRE COMO
      </a>

      <a
        href="#servicios"
        class="font-title text-xs font-bold px-8 pt-5 pb-4 rounded-xl border-2 border-transparent hover:text-slate-950 underline decoration-wavy hover:no-underline transition-colors"
      >
        NUESTROS SERVICIOS
      </a>
    </div>

    <Tooltips />
  </article>

  <HomeMarquee />
</section>
