---
import OutlineLogo from "@/assets/OutlineLogo.astro";
import Tooltips from "./Tooltips.astro";
import HomeMarquee from "./HomeMarquee.astro";

const colors = ["text-pink-500", "text-blue-500", "text-yellow-500"];
const color = colors[Math.floor(Math.random() * colors.length)];
---

<section
  id="inicio"
  class="relative h-screen flex flex-col items-center justify-center"
>
  <article
    class="relative flex flex-col items-center gap-8 z-10 max-w-6xl px-8"
  >
    <picture class={color}>
      <OutlineLogo />
    </picture>

    <h1
      class="erease font-title text-5xl lg:text-7xl font-bold text-center text-stroke-[1px] lg:text-stroke-2 text-stroke-slate-800"
    >
      Elimina cualaquier tatuaje, rápido y sin dolor
    </h1>

    <div class="flex flex-wrap justify-center gap-2">
      <a
        href="#descubre-como"
        class="text-slate-100 font-title text-xs font-bold bg-slate-800 px-8 pt-5 pb-4 rounded-xl border-2 border-slate-800 hover:text-slate-800 hover:bg-transparent transition-colors"
      >
        DESCUBRE COMO
      </a>

      <a
        href="#servicios"
        class="font-title text-xs font-bold px-8 pt-5 pb-4 rounded-xl border-2 border-transparent hover:text-slate-950 hover:underline decoration-wavy  transition-colors"
      >
        NUESTROS SERVICIOS
      </a>
    </div>

    <Tooltips />
  </article>

  <HomeMarquee />
</section>
