---
import Pretitle from "./Pretitle.astro";
---

<section
  id="descubre-como"
  class="flex flex-col items-center justify-center text-center px-4 py-32 lg:py-48"
>
  <Pretitle>COMO FUNCIONA</Pretitle>

  <article
    class="reveal max-w-4xl flex flex-col gap-8 mt-10 text-2xl lg:text-4xl font-bold font-title tracking-tighter"
  >
    <h2>
      Empezaremos con una primera consulta para examinar tu tatuaje,
      micropigmentación o macha para evaluar las necesidades específicas de tu
      piel.
    </h2>

    <h2>
      Te daremos información detallada sobre el proceso, la duración de las
      sesiones y un presupuesto personalizado para tu tratamiento.
    </h2>

    <h2>
      Mientras tanto si te surgen más preguntas sobre nuestros servicios láser,
      no dudes visitar nuestra sección de preguntas frecuentes.
    </h2>
  </article>

  <div class="flex flex-wrap justify-center gap-2 mt-20">
    <a
      href="/preguntas-frequentes"
      class="text-slate-100 font-title text-xs font-bold bg-slate-800 px-8 pt-5 pb-4 rounded-xl border-2 border-slate-800 hover:text-slate-800 hover:bg-transparent transition-colors"
    >
      PREGUNTAS FREQUENTES
    </a>

    <a
      href="/contacto"
      class="font-title text-xs font-bold px-8 pt-5 pb-4 rounded-xl border-2 border-transparent hover:text-slate-950 hover:underline decoration-wavy transition-colors"
    >
      CONSULTA GRATUITA
    </a>
  </div>
</section>
