---
import Pretitle from "@/components/Pretitle.astro";
import Pencil from "@/assets/icons/Pencil.astro";
import Face from "@/assets/icons/Face.astro";
---

<section
  id="servicios"
  class="flex flex-col items-center justify-center text-center px-8 py-10 lg:py-20"
>
  <Pretitle>NUESTROS SERIVICIOS</Pretitle>

  <article
    class="max-w-7xl flex flex-col lg:flex-row justify-center items-stretch gap-4 mt-10 text-center"
  >
    <div
      class="bg-white flex flex-col items-center justify-between px-4 py-8 lg:p-12 rounded-xl backdrop-blur bg-slate-50/10 border-2 border-slate-200 shadow-md lg:shadow-xl"
    >
      <figure>
        <Pencil />
      </figure>

      <h2 class="text-xl font-title font-bold mt-8">Eliminación de tatuajes</h2>

      <h3
        class="font-title text-xs p-4 border-t border-b border-slate-400 my-4"
      >
        A PARTIR DE <strong>50€</strong>
      </h3>

      <p class="text-lg text-slate-600">
        Descubre nuestra innovadora solución de eliminación de tatuajes en
        Barcelona, Gerona, Lérida y Tarragona. En el equipo <strong
          >TattooKiller</strong
        > ofrecemos un proceso seguro y respetuoso con la salud de tu piel, respaldado
        por tecnología más avanzada.
      </p>

      <a
        href="/servicios/eliminacion-tatuajes"
        class="text-slate-100 font-title text-xs font-bold bg-slate-800 px-6 pt-4 pb-3 rounded-xl border-2 border-slate-800 hover:text-slate-800 hover:bg-transparent transition-colors mt-10"
      >
        ELIMINAR TATUAJES
      </a>
    </div>

    <div
      class="bg-white flex flex-col items-center justify-between px-4 py-8 lg:p-12 rounded-xl backdrop-blur bg-slate-50/10 border-2 border-slate-200 shadow-md lg:shadow-xl"
    >
      <figure>
        <Face />
      </figure>

      <h2 class="text-xl font-title font-bold mt-8">
        Eliminación de micropigmentación
      </h2>

      <h3
        class="font-title text-xs p-4 border-t border-b border-slate-400 my-4"
      >
        A PARTIR DE <strong>60€</strong>
      </h3>

      <p class="text-lg text-slate-600">
        Descubre nuestro servicio de eliminación de micropigmentación en
        Cataluña. La micropigmentación se encuentra en áreas especialmente
        delicadas del rostro, razón por la cual este tratamiento se distingue
        por su enfoque suave y poco invasivo.
      </p>

      <a
        href="/servicios/eliminacion-micropigmentacion"
        class="text-slate-100 font-title text-xs font-bold bg-slate-800 px-6 pt-4 pb-3 rounded-xl border-2 border-slate-800 hover:text-slate-800 hover:bg-transparent transition-colors mt-10"
      >
        ELIMINAR MICROPIGMENTACÍON
      </a>
    </div>
    
    <div
      class="bg-white flex flex-col items-center justify-between px-4 py-8 lg:p-12 rounded-xl backdrop-blur bg-slate-50/10 border-2 border-slate-200 shadow-md lg:shadow-xl"
    >
      <figure>
        <Face />
      </figure>

      <h2 class="text-xl font-title font-bold mt-8">
        Otros servicios
      </h2>

      <h3
        class="font-title text-xs p-4 border-t border-b border-slate-400 my-4"
      >
        A PARTIR DE <strong>60€</strong>
      </h3>

      <ul>
        <li>
          Eliminación de hongos en uñas
        </li>
        <li>
          Blanqueamiento anal, perianal y corporal
        </li>
      </ul>
      <a
        href="/servicios/eliminacion-micropigmentacion"
        class="text-slate-100 font-title text-xs font-bold bg-slate-800 px-6 pt-4 pb-3 rounded-xl border-2 border-slate-800 hover:text-slate-800 hover:bg-transparent transition-colors mt-10"
      >
        ELIMINAR MICROPIGMENTACÍON
      </a>
    </div>
  </article>
</section>
