---
import ReviewCard from "@/components/ReviewCard.astro";
import { reviews } from "@/lib/reviews";

const seconds = "30s";
const gap = "1rem";
const url =
  "https://www.google.com/search?sca_esv=600101668&sxsrf=ACQVn0-VRvvoSNZGeVGb5rUcBx7mLblaEQ:1705776844360&uds=AMwkrPsuqfZyfNE5WgHaOCZM18B4EqsMLp49zMsu-7dLMhzya7mhXSyXjU-e2O0lg806Q041MFJrvjpC_CrgRtjUq0OXJGmPB1rX7sEV8c4NDMMEccsD57c6NVlrvPwqbOvKDKg66Ff3E8O9KhpC_hHwBJM3n_qzuA&si=AKbGX_rcuucMgom2rba1cdwsvM2SVoIkP2btyqGMV4t0GuHIs4sGV_1tpuqR0YHG4Rzd9Sc95ZESnZyY3JjXOOJ8CS0vkkUal54BGRkqTIr0TFTZaoNT8hA%3D&q=Aitor+TattooKiller+-+Eliminaci%C3%B3n+de+Tatuajes+Rese%C3%B1as&sa=X&ved=2ahUKEwj8zv720eyDAxXgUaQEHfdRAsgQ3PALegQIcRAF&biw=1920&bih=981&dpr=1";
---

<section class="flex flex-col items-center gap-12 py-10 lg:py-20">
  <h2
    class="erease max-w-4xl mt-10 text-2xl lg:text-4xl font-title tracking-tighter text-stroke-[0.03rem] text-stroke-slate-800 text-center px-4"
  >
    Nuestros clientes hablan por nosotros
  </h2>

  <main class="relative flex w-full overflow-hidden">
    <ul class="flex shrink-0 pb-12">
      {reviews.map((item) => <ReviewCard {...item} />)}
    </ul>
    <ul class="flex shrink-0 pb-12">
      {reviews.map((item) => <ReviewCard {...item} />)}
    </ul>
  </main>
</section>

<style define:vars={{ seconds, gap }}>
  main {
    gap: var(--gap);
  }

  ul {
    animation: marquee var(--seconds) linear infinite;
    gap: var(--gap);
  }

  main:hover > ul,
  main:focus > ul,
  main:active > ul {
    animation-play-state: paused;
  }

  .reverse {
    animation-direction: reverse;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
</style>
