---
import Pretitle from "@/components/Pretitle.astro";
import Pencil from "@/assets/icons/Pencil.astro";
import Face from "@/assets/icons/Face.astro";
import Dots from "@/assets/icons/Dots.astro";
---

<section
  id="servicios"
  class="flex flex-col items-center justify-center text-center px-8 py-20 lg:py-32"
>
  <Pretitle>NUESTROS SERIVICIOS</Pretitle>

  <article
    class="max-w-7xl flex flex-col lg:flex-row justify-center items-stretch gap-4 mt-10 text-center"
  >
    <div
      class="flex flex-col items-center justify-between p-4 lg:p-12 rounded-xl backdrop-blur bg-slate-50/10 border-2 border-slate-200 shadow-md lg:shadow-xl"
    >
      <figure>
        <Pencil />
      </figure>

      <h2 class="text-xl font-title font-bold mt-8">Eliminación de tatuajes</h2>

      <h3 class="font-title text-xs p-4 border-t border-b border-slate-400 my-4">PRECIO MEDIO 60€</h3>

      <p class="text-lg">
        Con nuestro equipo de especialistas ubicados en la provincia de
        Barcelona, nuestro equipo está comprometido con servicios de vanguardia
        en eliminación de tatuajes, micropigmentación y tratamiento de manchas
        en la piel.
      </p>

      <a
        href="/eliminacion-tatuajes"
        class="text-slate-100 font-title text-xs font-bold bg-slate-800 px-6 pt-4 pb-3 rounded-xl border-2 border-slate-800 hover:text-slate-800 hover:bg-transparent transition-colors mt-10"
      >
        MÁS INFORMACIÓN
      </a>
    </div>

    <div
      class="flex flex-col items-center justify-between p-4 lg:p-12 rounded-xl backdrop-blur bg-slate-50/10 border-2 border-slate-200 shadow-md lg:shadow-xl"
    >
      <figure>
        <Face />
      </figure>

      <h2 class="text-xl font-title font-bold mt-8">
        Eliminación de micropigmentación
      </h2>

      <h3 class="font-title text-xs p-4 border-t border-b border-slate-400 my-4">PRECIO MEDIO 60€</h3>

      <p class="text-lg">
        Con nuestro equipo de especialistas ubicados en la provincia de
        Barcelona, nuestro equipo está comprometido con servicios de vanguardia
        en eliminación de tatuajes, micropigmentación y tratamiento de manchas
        en la piel.
      </p>

      <a
        href="/eliminacion-micropigmentacion"
        class="text-slate-100 font-title text-xs font-bold bg-slate-800 px-6 pt-4 pb-3 rounded-xl border-2 border-slate-800 hover:text-slate-800 hover:bg-transparent transition-colors mt-10"
      >
        MÁS INFORMACIÓN
      </a>
    </div>

    <div
      class="flex flex-col items-center justify-between p-4 lg:p-12 rounded-xl backdrop-blur bg-slate-50/10 border-2 border-slate-200 shadow-md lg:shadow-xl"
    >
      <figure>
        <Dots />
      </figure>

      <h2 class="text-xl font-title font-bold mt-8">
        Eliminación de manchas en la piel
      </h2>

      <h3 class="font-title text-xs p-4 border-t border-b border-slate-400 my-4">PRECIO MEDIO 60€</h3>

      <p class="text-lg">
        Con nuestro equipo de especialistas ubicados en la provincia de
        Barcelona, nuestro equipo está comprometido con servicios de vanguardia
        en eliminación de tatuajes, micropigmentación y tratamiento de manchas
        en la piel.
      </p>

      <a
        href="/eliminacion-manchas-piel"
        class="text-slate-100 font-title text-xs font-bold bg-slate-800 px-6 pt-4 pb-3 rounded-xl border-2 border-slate-800 hover:text-slate-800 hover:bg-transparent transition-colors mt-10"
      >
        MÁS INFORMACIÓN
      </a>
    </div>
  </article>
</section>
