<section
  id="servicios"
  class="flex flex-col items-center justify-center text-center px-8 py-20 lg:py-48"
>
  <article class="max-w-4xl">
    <h2
      class="erease text-4xl lg:text-7xl font-bold font-title text-stroke-[1px] lg:text-stroke-2 text-stroke-black"
    >
      Bienvenidos a tattoo killer, quitar tattoos poner cera
    </h2>

    <p class="text-center text-xl">
      Con nuestro equipo de especialistas ubicados en la provincia de Barcelona,
      nuestro equipo está comprometido con servicios de vanguardia en
      eliminación de tatuajes, micropigmentación y tratamiento de manchas en la
      piel.
    </p>
  </article>
</section>
