---
import Pretitle from "@/components/Pretitle.astro";
import Phone from "@/assets/icons/Phone.astro";
import Whatsapp from "@/assets/icons/Whatsapp.astro";
---

<section
  id="contact"
  class="flex flex-col items-center px-4 pb-20 pt-10 text-center lg:pt-20"
>
  <article
    class="mt-10 flex w-full max-w-6xl flex-col items-center lg:flex-row"
  >
    <div
      class="relative flex aspect-[4/3] w-full flex-col overflow-hidden rounded-xl bg-slate-800 lg:w-1/2"
    >
      <iframe
        src="https://www.google.com/maps/d/u/0/embed?mid=1HMVXLNL5nIQ7Ovdq4C7feDA5axJA1UY&ehbc=2E312F&noprof=1"
        width="100%"
        height="100%"
        style="border:0"
        allowfullscreen
        class="absolute top-[-46px] bottom-[-14px] h-[calc(100%+46px+14px)] w-full" 
      >
      </iframe>
    </div>

    <div
      class="flex w-full flex-col items-center justify-center gap-4 p-6 lg:w-1/2 lg:p-12"
    >
      <Pretitle>PIDE TU CITA</Pretitle>
      <a
        href="https://wa.me/34625275713"
        target="_blank"
        rel="external"
        referrerpolicy="no-referrer"
        class="flex w-full items-center justify-center gap-2 rounded-xl border-2 border-slate-800 bg-slate-800 px-8 pb-4 pt-5 font-title text-xs font-bold text-slate-100 transition-colors hover:bg-transparent hover:text-slate-800"
      >
        <Whatsapp />
        Whatsapp
      </a>

      <a
        href="tel:0034625275713"
        class="flex w-full items-center justify-center gap-2 rounded-xl border-2 border-slate-800 bg-slate-800 px-8 pb-4 pt-5 font-title text-xs font-bold text-slate-100 transition-colors hover:bg-transparent hover:text-slate-800"
      >
        <Phone />
        625 275 713
      </a>
    </div>
  </article>
</section>
