---
import Pretitle from "@/components/Pretitle.astro";
import Phone from "@/assets/icons/Phone.astro";
import Whatsapp from "@/assets/icons/Whatsapp.astro";
---

<section
  id="contact"
  class="flex flex-col items-center px-4 pb-20 pt-10 text-center lg:pt-20"
>
  <article
    class="mt-10 flex w-full max-w-6xl flex-col items-center lg:flex-row"
  >
    <div class="flex w-full flex-col lg:w-1/2">
      <div
        id="map"
        class="mb-20 aspect-square w-full rounded-xl border-2 border-slate-50 shadow-md lg:shadow-xl"
      >
      </div>
    </div>

    <div
      class="flex w-full flex-col items-center justify-center gap-4 p-6 lg:w-1/2 lg:p-12"
    >
      <Pretitle>PIDE TU CITA</Pretitle>
      <a
        href="https://wa.me/34625275713"
        target="_blank"
        rel="external"
        referrerpolicy="no-referrer"
        class="flex w-full items-center justify-center gap-2 rounded-xl border-2 border-slate-800 bg-slate-800 px-8 pb-4 pt-5 font-title text-xs font-bold text-slate-100 transition-colors hover:bg-transparent hover:text-slate-800"
      >
        <Whatsapp />
        Whatsapp
      </a>

      <a
        href="tel:0034625275713"
        class="flex w-full items-center justify-center gap-2 rounded-xl border-2 border-slate-800 bg-slate-800 px-8 pb-4 pt-5 font-title text-xs font-bold text-slate-100 transition-colors hover:bg-transparent hover:text-slate-800"
      >
        <Phone />
        625 275 713
      </a>
    </div>
  </article>
</section>

<style>
  @import "https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css";
</style>

<script type="module">
  import mapboxgl from "https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js";
  import Mapkick from "@/lib/mapkick";

  mapboxgl.accessToken =
    "pk.eyJ1IjoidmVyZHVsaWZlIiwiYSI6ImNscHpha3E5MjEyYzAya3BmM2d0cHQ1bzMifQ.lRQ4hbGqMVd6-8PYqYCTGA";
  Mapkick.options = {
    style: "mapbox://styles/verdulife/clpzb0ovq005b01qs9l68d7a8",
    zoom: 6.8,
  };

  new Mapkick.Map("map", [
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Berga",
    },
    {
      latitude: 41.9001344,
      longitude: 1.8712272,
      label: "Navàs",
    },
    {
      latitude: 41.503071,
      longitude: 1.81193,
      label: "Masquefa",
    },
    {
      latitude: 41.614159,
      longitude: 0.6258,
      label: "Lleida",
    },
    {
      latitude: 41.57876,
      longitude: 1.61719,
      label: "Igualada",
    },
    {
      latitude: 41.473598,
      longitude: 1.92768,
      label: "Martorell",
    },

    // cambiar lat y lon
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Girona",
    },
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Mataró",
    },
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Sabadell",
    },
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Castellbisbal",
    },
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Vilafranca del Penedès",
    },
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Badalona",
    },
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Barcelona",
    },
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Hospitalet del Llobregat",
    },
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Castelldefels",
    },
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Vilanova i la Geltrú",
    },
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Vilaseca (Tarragona)",
    },
  ]);
</script>
