---
import Pretitle from "@/components/Pretitle.astro";
import Phone from "@/assets/icons/Phone.astro";
import Whatsapp from "@/assets/icons/Whatsapp.astro";
import Link from "@/components/Link.astro";
---

<section
  id="contact"
  class="relative -mt-20 flex flex-col items-center px-4 pb-20 pt-72 text-neutral-100 lg:px-10"
>
  <div class="footer-bg absolute inset-0 bg-neutral-800"></div>

  <article class="z-10 mt-20 flex w-full max-w-7xl flex-col lg:flex-row">
    <div class="flex w-full max-w-6xl flex-col p-4 lg:w-1/2 lg:p-12">
      <Pretitle class="!text-neutral-400">PIDE TU CITA</Pretitle>
      <h2 class="mt-10 max-w-xl font-title text-3xl lg:text-5xl">
        Contacta con nosotros
      </h2>

      <h3 class="mt-10 font-title text-2xl">Aitor</h3>
      <div class="mt-2 flex w-full flex-wrap gap-2">
        <Link
          href="https://wa.me/34625275713"
          target="_blank"
          rel="external"
          referrerpolicy="no-referrer"
          class="!hover:bg-neutral-300 !hover:text-neutral-800 flex w-full max-w-xs items-center justify-center gap-2 !bg-neutral-100 !text-neutral-800"
        >
          <Whatsapp />
          Whatsapp
        </Link>

        <Link
          href="tel:0034625275713"
          class="!hover:bg-neutral-300 !hover:text-neutral-800 flex w-full max-w-xs items-center justify-center gap-2 !bg-neutral-100 !text-neutral-800"
        >
          <Phone />
          625 275 713
        </Link>
      </div>

      <h3 class="mt-6 font-title text-2xl">Isa</h3>
      <div class="mt-2 flex flex-wrap gap-2">
        <Link
          href="https://wa.me/34662672030"
          target="_blank"
          rel="external"
          referrerpolicy="no-referrer"
          class="!hover:bg-neutral-300 !hover:text-neutral-800 flex w-full max-w-xs items-center justify-center gap-2 !bg-neutral-100 !text-neutral-800"
        >
          <Whatsapp />
          Whatsapp Isa
        </Link>

        <Link
          href="tel:0034662672030"
          class="!hover:bg-neutral-300 !hover:text-neutral-800 flex w-full max-w-xs items-center justify-center gap-2 !bg-neutral-100 !text-neutral-800"
        >
          <Phone />
          662 672 030
        </Link>
      </div>
    </div>

    <div
      class="relative mt-10 flex aspect-[3/2] w-full lg:w-2/3 max-w-4xl flex-col overflow-hidden rounded-xl bg-neutral-800 shadow-xl shadow-neutral-950/30"
    >
      <iframe
        src="https://www.google.com/maps/d/u/0/embed?mid=1HMVXLNL5nIQ7Ovdq4C7feDA5axJA1UY&ehbc=2E312F&noprof=1"
        width="100%"
        height="100%"
        style="border:0"
        loading="lazy"
        allowfullscreen
        class="absolute top-[-46px] h-[calc(100%+46px+14px)]"
      >
      </iframe>
    </div>
  </article>
</section>

<style>
  .footer-bg {
    mask-image: url("/ink-footer.svg");
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center top;
  }
</style>
