---
import Pretitle from "@/components/Pretitle.astro";
import Phone from "@/assets/icons/Phone.astro";
import Whatsapp from "@/assets/icons/Whatsapp.astro";
---

<section
  id="contact"
  class="flex flex-col items-center text-center px-4 pt-10 pb-20 lg:pt-20"
>
  <article
    class="max-w-6xl flex flex-col lg:flex-row items-center w-full mt-10"
  >
    <div class="flex flex-col w-full lg:w-1/2">
      <div
        id="map"
        class="w-full aspect-square rounded-xl border-2 border-slate-50 shadow-md lg:shadow-xl mb-20"
      >
      </div>
    </div>

    <div
      class="flex flex-col items-center justify-center gap-4 p-6 lg:p-12 w-full lg:w-1/2"
    >
      <Pretitle>PIDE TU CITA</Pretitle>
      <a
        href="https://wa.me/34625275713"
        target="_blank"
        rel="external"
        referrerpolicy="no-referrer"
        class="w-full flex justify-center items-center gap-2 text-slate-100 font-title text-xs font-bold bg-slate-800 px-8 pt-5 pb-4 rounded-xl border-2 border-slate-800 hover:text-slate-800 hover:bg-transparent transition-colors"
      >
        <Whatsapp />
        Whatsapp
      </a>

      <a
        href="tel:0034625275713"
        class="w-full flex justify-center items-center gap-2 text-slate-100 font-title text-xs font-bold bg-slate-800 px-8 pt-5 pb-4 rounded-xl border-2 border-slate-800 hover:text-slate-800 hover:bg-transparent transition-colors"
      >
        <Phone />
        625 275 713
      </a>
    </div>
  </article>
</section>

<script>
  new Mapkick.Map("map", [
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Berga",
    },
    {
      latitude: 41.9001344,
      longitude: 1.8712272,
      label: "Navàs",
    },
    {
      latitude: 41.503071,
      longitude: 1.81193,
      label: "Masquefa",
    },
    {
      latitude: 41.614159,
      longitude: 0.6258,
      label: "Lleida",
    },
    {
      latitude: 41.57876,
      longitude: 1.61719,
      label: "Igualada",
    },
    {
      latitude: 41.473598,
      longitude: 1.92768,
      label: "Martorell",
    },

    // cambiar lat y lon
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Girona",
    },
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Mataró",
    },
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Sabadell",
    },
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Castellbisbal",
    },
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Vilafranca del Penedès",
    },
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Badalona",
    },
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Barcelona",
    },
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Hospitalet del Llobregat",
    },
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Castelldefels",
    },
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Vilanova i la Geltrú",
    },
    {
      latitude: 42.10154,
      longitude: 1.84381,
      label: "Vilaseca (Tarragona)",
    },
  ]);
</script>
