---
import PostCard from "@/components/PostCard.astro";
import Link from "@/components/Link.astro";
import posts from "@/lib/posts.json";

const seconds = "60s";
const gap = "1rem";
---

<section class="flex flex-col items-center gap-4 pt-10 lg:pt-32">
  <div class="flex w-full max-w-7xl items-end justify-between px-4">
    <h2
      class="max-w-4xl font-title text-xl tracking-tighter lg:text-4xl"
    >
      Resultados y publicaciones
    </h2>

    <Link href="https://www.instagram.com/aitor_tattookiller/" target="_blank">
      VER MÁS
    </Link>
  </div>

  <main class="mt-8 flex w-full overflow-hidden">
    <ul class="flex shrink-0 pb-12">
      {posts.map((item) => <PostCard {...item} />)}
    </ul>
    <ul class="flex shrink-0 pb-12">
      {posts.map((item) => <PostCard {...item} />)}
    </ul>
  </main>
</section>

<style define:vars={{ seconds, gap }}>
  main {
    gap: var(--gap);
  }

  ul {
    animation: marquee var(--seconds) linear infinite;
    gap: var(--gap);
  }

  main:hover > ul {
    animation-play-state: paused;
  }
  < g .reverse {
    animation-direction: reverse;
  }

  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(calc(-100% - var(--gap)), 0, 0);
    }
  }
</style>
