---
import ReviewCard from "@/components/ReviewCard.astro";
import Link from "@/components/Link.astro";
import { reviews } from "@/lib/reviews";
---

<section
  class="mx-auto flex w-full max-w-7xl flex-col gap-12 px-4 lg:flex-row lg:items-center lg:px-0 lg:py-20"
>
  <div class="flex shrink-0 flex-col items-start gap-8">
    <h2 class="mt-10 max-w-sm font-title text-xl lg:max-w-xl lg:text-6xl">
      Nuestros clientes hablan por nosotros
    </h2>

    <Link
      href="https://www.google.com/search?sa=X&cs=0&hl=es-ES&sca_esv=d621e0682869cae1&tbm=lcl&sxsrf=ADLYWIISIvWZsAcbYnU6s0itBIeubL9PQQ:1723672375094&q=Aitor+TattooKiller+-+Eliminaci%C3%B3n+de+Tatuajes+Rese%C3%B1as&rflfq=1&num=20&stick=H4sIAAAAAAAAAONgkxK2MDGxMDIyMjEwNDMxMrc0NjE33sDI-IrRzDGzJL9IISSxpCQ_3zszJye1SEFXwTUnMzczLzE58_DmPIWUVJB0aWJWarFCUGpx6uGNicWLWMnUCADAjKx7jAAAAA&rldimm=8448222401642793473&ved=2ahUKEwi1rIH9u_WHAxWdgv0HHUhUPfEQ9fQKegQINBAF&biw=1920&bih=965&dpr=1#lkt=LocalPoiReviews"
      target="_blank"
    >
      VER MÁS RESEÑAS
    </Link>
  </div>

  <main class="flex w-full">
    <ul
      class="flex w-full snap-x snap-proximity gap-4 overflow-x-auto py-2 lg:py-12"
    >
      {reviews.map((item) => <ReviewCard {...item} />)}
    </ul>
  </main>
</section>

<style>
  main {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 3rem;
      left: 0;
      bottom: 3rem;
      width: 50px;
      display: flex;
      background-image: linear-gradient(to right, #f3f4f4, transparent);
      z-index: 20;
    }
  }

  ul {
    scrollbar-width: none;
  }
</style>
