---
import Pretitle from "@/components/Pretitle.astro";
import TeamCard from "@/components/TeamCard.astro";
import Link from "@/components/Link.astro";
import Instagram from "@/assets/icons/Instagram.astro";
---

<section
  id="servicios"
  class="flex flex-col items-center justify-center px-8 py-10 text-center lg:py-10"
>
  <Pretitle>NUESTRO EQUIPO</Pretitle>

  <article class="mt-10 grid max-w-7xl grid-cols-2 gap-4 text-center">
    <TeamCard
      image="./images/tattookiller-aitor.jpg"
      title="Aitor"
      description="Fundador & Especialista en eliminación de tatuajes"
      class="col-span-3 lg:col-span-1"
    >
      <a
        href="https://www.instagram.com/aitor_tattookiller/"
        target="_blank"
        rel="external"
        referrerpolicy="no-referrer"
        class="z-10 flex items-center gap-2 font-medium text-neutral-300 hover:text-neutral-50"
      >
        <Instagram class="size-7" />
        <span>Instagram</span>
      </a>
    </TeamCard>

    <TeamCard
      image="./images/tattookiller-isa.jpg"
      title="Isa"
      description="Atención al cliente & Especialista en tratamientos"
      class="col-span-3 lg:col-span-1"
    >
      <a
        href="https://www.instagram.com/isa_tattookiller/"
        target="_blank"
        rel="external"
        referrerpolicy="no-referrer"
        class="z-10 flex items-center gap-2 font-medium text-neutral-300 hover:text-neutral-50"
      >
        <Instagram class="size-7" />
        <span>Instagram</span>
      </a>
    </TeamCard>
  </article>
</section>
