---
import Link from "@/components/Link.astro";
import Info from "@/assets/icons/Info.astro";
---

<section
  id="inicio"
  class="relative flex flex-col items-center pt-40 lg:pt-44 pb-72 lg:pb-96"
>
  <div class="hero-bg absolute inset-0">
    <div class="absolute inset-0 bg-black/70"></div>
  </div>
  <article
    class="z-10 flex w-full max-w-4xl flex-col items-center px-8 text-center text-neutral-50 2xl:max-w-5xl"
  >
    <img src="/v-logo.svg" alt="TattooKiller" class="h-32 invert" />

    <h1 class="mt-8 font-title text-2xl font-bold md:text-5xl">
      Eliminación laser de tatuajes con los mejores resultados
    </h1>

    <p class="mt-4 max-w-4xl text-base text-neutral-100 lg:text-xl">
      En TattooKiller, contamos con estudios en Barcelona, Gerona, Lérida y
      Tarragona, donde ponemos a tu disposición la tecnología más avanzada para
      garantizar resultados excepcionales en el menor número de sesiones
      posibles.
    </p>

    <div class="mt-12 flex flex-wrap items-center justify-center gap-2">
      <Link href="#servicios">NUESTROS SERVICIOS</Link>
      <Link href="#descubre-como" class="bg-transparent gap-2">
        <Info class="-mt-1" />
        MÁS INFORMACIÓN
      </Link>
    </div>
  </article>
</section>

<style>
  .hero-bg {
    background-color: #000;
    background-image: url("/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 120%;
    background-blend-mode: luminosity;
    mask-image: url("/ink.svg");
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center bottom;
  }
</style>
