---
import Link from "@/components/Link.astro";
import Info from "@/assets/icons/Info.astro";
---

<section
  id="inicio"
  class:list={[
    "relative flex w-full flex-col items-center bg-[url(/bg.jpg)] bg-cover bg-bottom pb-52 pt-20 lg:pb-80 lg:pt-44",
    "before:absolute before:inset-0 before:bg-black/80",
  ]}
>
  <article
    class="z-10 flex w-full max-w-4xl flex-col items-center px-8 text-center text-neutral-50 2xl:max-w-5xl"
  >
    <img src="/logo-v-w.svg" alt="TattooKiller" class="h-32 opacity-70" />

    <h1 class="mt-8 font-title text-2xl font-bold md:text-5xl">
      Eliminación laser de tatuajes con los mejores resultados
    </h1>

    <p class="mt-4 max-w-4xl text-base text-neutral-100 lg:text-xl">
      En TattooKiller, contamos con estudios en Barcelona, Gerona, Lérida y
      Tarragona, donde ponemos a tu disposición la tecnología más avanzada para
      garantizar resultados excepcionales en el menor número de sesiones
      posibles.
    </p>

    <div class="mt-12 flex flex-wrap items-center justify-center gap-2">
      <Link href="#servicios" class="!bg-neutral-100 !text-neutral-950">
        NUESTROS SERVICIOS
      </Link>
      <Link href="#descubre-como" class="gap-2 bg-transparent">
        <Info class="-mt-1" />
        MÁS INFORMACIÓN
      </Link>
    </div>
  </article>
</section>

<style>
  section {
    mask: url("/ink2.svg") no-repeat bottom;
    mask-size: cover;
  }
</style>
