---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Eliminaci칩n de micropigmentaci칩n | TattooKiller">
  <section
    class="relative flex flex-col items-center pt-40 lg:pt-52"
  >
    <article
      class="relative flex flex-col items-center z-10 max-w-4xl 2xl:max-w-6xl px-8 text-center gap-8"
    >
      <h1
        class="font-title text-4xl md:text-5xl 2xl:text-7xl font-bold text-stroke-[1px] lg:text-stroke-2 text-stroke-slate-800 mt-8"
      >
        P치gina en construcci칩n
      </h1>

      <a
        href="/"
        class="text-slate-100 font-title text-xs font-bold bg-slate-800 px-8 pt-5 pb-4 rounded-xl border-2 border-slate-800 hover:text-slate-800 hover:bg-transparent transition-colors"
      >
        VOLVER AL INICIO
      </a>
    </article>
  </section>
</Layout>
