---
import Navbar from "@/components/Navbar.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <div
      class="flex flex-col overflow-x-hidden bg-[url('/pattern.png')] text-slate-800"
    >
      <Navbar />
      <slot />
    </div>
  </body>
</html>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import SplitType from "split-type";

  gsap.registerPlugin(ScrollTrigger);

  const ereaseType = document.querySelectorAll(".erease") as any;
  ereaseType.forEach((type: any) => {
    const text = new SplitType(type, { types: "words,chars" });

    gsap.to(text.chars, {
      scrollTrigger: {
        trigger: type,
        start: "top 35%",
        end: "bottom 50%",
        scrub: 0,
        markers: false,
      },
      color: "transparent",
      stagger: 1,
    });

    gsap.to(text.chars, {
      scrollTrigger: {
        trigger: type,
        start: "top 30%",
        end: "bottom 50%",
        scrub: 1,
        markers: false,
      },
      transform: "translateY(-50%)",
      opacity: 0.1,
      stagger: 1,
    });

    gsap.to(text.chars, {
      scrollTrigger: {
        trigger: type,
        start: "top 25%",
        end: "bottom 50%",
        scrub: 1,
        markers: false,
      },
      opacity: 0,
      stagger: 1,
    });
  });

  const revealTypes = document.querySelectorAll(".reveal") as any;
  revealTypes.forEach((type: any) => {
    const text = new SplitType(type, { types: "words,chars" });

    gsap.from(text.chars, {
      scrollTrigger: {
        trigger: type,
        start: "top 80%",
        end: "bottom 50%",
        scrub: 0,
        markers: false,
      },
      opacity: 0.2,
      stagger: 1,
    });
  });
</script>

<style is:global>
  :root {
    text-wrap: pretty;
    scroll-behavior: smooth;
  }

  img {
    -webkit-user-drag: none;
  }

  @font-face {
    font-family: "Sporting Grotesk";
    font-weight: normal;
    font-display: swap;
    src: url("/fonts/sporting-grotesk-regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Sporting Grotesk";
    font-weight: bold;
    font-display: swap;
    src: url("/fonts/sporting-grotesk-bold.woff2") format("woff2");
  }
</style>
