---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <slot />
  </body>
</html>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import SplitType from "split-type";

  gsap.registerPlugin(ScrollTrigger);
  const splitTypes = document.querySelectorAll(".reveal") as any;

  splitTypes.forEach((splitType: any) => {
    const text = new SplitType(splitType, { types: "words,chars" });

    gsap.from(text.chars, {
      scrollTrigger: {
        trigger: splitType,
        start: "top 35%",
        end: "top 10%",
        scrub: 0.7,
        markers: false,
      },
      color: "black",
      stagger: 1,
    });
  });
</script>

<style is:global>
  :root {
    text-wrap: pretty;
    scroll-behavior: smooth;
  }

  @font-face {
    font-family: "Sporting Grotesk";
    font-weight: normal;
    font-display: swap;
    src: url("/fonts/sporting-grotesk-regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Sporting Grotesk";
    font-weight: bold;
    font-display: swap;
    src: url("/fonts/sporting-grotesk-bold.woff2") format("woff2");
  }
</style>
